<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>

    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
            font-size: .7em;
        }

        .distribution-chart, .sentiment-chart {
            float: left;
            margin-bottom: 5em;
        }

        #distribution-chart, #friends-chart, #sentiment-chart {
            margin: 6em auto;
            width: 1200px;
        }
    </style>
</head>
<body>
<div id="friends-chart">
    <h1>Average social interaction data per user</h1>
    {{ social_interaction|safe }}
</div>
<div id="distribution-chart">
    <h1>Breakdown of social interaction data</h1>

    <div id="distribution-followers">
        <div class="distribution-chart" id="distribution-followers-gamers">
            <h3>Distribution of followers across gamers</h3>
            {{ distribution_followers[0]|safe }}
        </div>
        <div class="distribution-chart" id="distribution-followers-ngamers">
            <h3>Distribution of followers across non-gamers</h3>
            {{ distribution_followers[1]|safe }}
        </div>
    </div>
    <div id="distribution-friends">
        <div class="distribution-chart" id="distribution-friends-gamers">
            <h3>Distribution of friends across gamers</h3>
            {{ distribution_friends[0]|safe }}
        </div>
        <div class="distribution-chart" id="distribution-friends-ngamers">
            <h3>Distribution of friends across non-gamers</h3>
            {{ distribution_friends[1]|safe }}
        </div>
    </div>
    <div id="distribution-retweets">
        <div class="distribution-chart" id="distribution-retweets-gamers">
            <h3>Distribution of retweets across gamers</h3>
            {{ distribution_retweets[0]|safe }}
        </div>
        <div class="distribution-chart" id="distribution-retweets-ngamers">
            <h3>Distribution of retweets across non-gamers</h3>
            {{ distribution_retweets[1]|safe }}
        </div>
    </div>
</div>
<div id="sentiment-chart">
    <h1>Twitter sentiment data on post content per subject</h1>

    <div class="sentiment-chart" id="sentiment-gamers"><h3>Gamers</h3>
        {{ sentiment[0]|safe }}</div>
    <div class="sentiment-chart" id="sentiment-ngamers"><h3>Non-gamers</h3>
        {{ sentiment[1]|safe }}</div>
</div>
</body>
</html>